body {
  font-family: 'Muli', sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; 
  justify-content: center;
  align-items: center;
  */  
  margin:30px;
}



/* 
.cell.active {
  background: #fefefe;
  border: 5px solid rgb(216, 198, 39);
}

.cell.active h3 {
  position: relative;
  bottom: -5px;
  left: 10px;
  color: rgb(255, 254, 254);
}
 */

/* END 
.cell.end {
  background: #7684d7;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
}
*/


.cell.end h3 {
    /* Center horizontally*/
    position: relative;
    bottom: 5px;
    left: 5px;
    color: rgb(255, 254, 254);
  }
  */
  
  /* FIRE PIT */
  .cell.item {
    background: rgb(181, 79, 79);
    border: 1px solid rgb(0, 0, 0);
  }
  
  
  .cell.item img {
    position: relative;
    left: 5px;
    width: 60px;
  }