
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
  font-family: 'Muli', sans-serif;
  margin:30px;
}


/*
================================================================================
Block: begin-content
================================================================================
*/
.welcome {
}

body {
  color: #000000;
  background-color: #ffffff;
}

.consent{
  display:none;
}

.return-hit{
  display:none;
}

.debriefing {
  display: none;
}


.win-page {
  display: none;
}

.lost-page {
  display: none;
}

.number-of-moves {
  display: none;
}

.instructions-1 {
  display: none;
}

.instructions-2 {
  display: none;
}

.instructions-3 {
  display: none;
}

.instructions-4 {
  display: none;
}

.inter-trial {
  display: none;
}

.practice-end {
  display: none;
}

.session-end {
  display: none;
}


.comment{
  display: none;
}


/*
================================================================================
Block: custom-button
================================================================================
*/

.custom-button{
  width: 100%;
  border-radius: 10px;
  padding: 5px; /*so content doesn't touch the edge of the tile*/
  margin-top: 10px; /* this needs to be in agreement with gutter size to have uniform gutters top-bottom like left-right */
  margin-bottom: 10px; /* this needs to be in agreement with gutter size to have uniform gutters top-bottom like left-right */

  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: .3s;
  /* Standard syntax */
  transition-duration: .3s;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: x-large;
}


.custom-button_disabled {
  background: #686968;
  border-color: #404040;
  color: #404040;
}
.custom-button_disabled:hover {
  cursor: default;
}

.custom-button_enabled {
  background: #8fbc8f;
  border-color: #000000;
  box-shadow: 5px 10px 10px #101010;
}

.custom-button_enabled:hover {
  background: #404040;
  border-color: #FFD119;
  cursor: pointer;
}

#end__button {
  display: none;
}

#theImage { visibility: hidden; }


#gridCanvas {
  padding: 10px;
  margin: auto;
  margin-top: 10px;  
  margin-left: 5%;  
  display: block;  
  position: relative;   
  width: 150%;
}

#keyboardCanvas {
  padding: 0;
  margin-left: 40%;
  display: block;  
  position: relative; 
  width: 60%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*
================================================================================
Block: Grids
================================================================================
*/

#progress {  
  background: #8fbc8f;
  border-color: #000000;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #101010;
}

.grids {
  display: none;
}

.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="col-"],
[class^="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


#instructions_grid_pic {
  margin-left: auto;
  width: 50%;
  text-align: center;  
  padding: 5%;  
}

