
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


body {
  font-family: 'Muli', sans-serif;
  margin:30px;
}


/*
================================================================================
Block: begin-content
================================================================================
*/
.welcome {
}

.consent{
  display:none;
}

.return-hit{
  display:none;
}

.debriefing-instructions {
  display: none;
}

.time_limit {
  display: none;
}

.warning-no-cell-selected {
  display: none;
}

.win-page {
  display: none;
}

.instructions {
  display: none;
}

.inter-trial {
  display: none;
}

.practice-end {
  display: none;
}


/*
================================================================================
Block: custom-button
================================================================================
*/

.custom-button{
  width: 100%;
  border-radius: 10px;
  padding: 5px; /*so content doesn't touch the edge of the tile*/
  margin-top: 10px; /* this needs to be in agreement with gutter size to have uniform gutters top-bottom like left-right */
  margin-bottom: 10px; /* this needs to be in agreement with gutter size to have uniform gutters top-bottom like left-right */

  /* For Safari 3.1 to 6.0 */
  -webkit-transition-duration: .3s;
  /* Standard syntax */
  transition-duration: .3s;
  border-style: solid;
  border-width: thin;
  text-align: center;
  font-size: x-large;
}


.custom-button_disabled {
  background: #686968;
  border-color: #404040;
  color: #404040;
}
.custom-button_disabled:hover {
  cursor: default;
}

.custom-button_enabled {
  background: #8fbc8f;
  border-color: #000000;
  box-shadow: 5px 10px 10px #101010;
}

.custom-button_enabled:hover {
  background: #404040;
  /*background: #8fbc8f;*/
  border-color: #FFD119;
  cursor: pointer;
}

#end__button {
  display: none;
}

#theImage { visibility: hidden; }


/*
================================================================================
Block: Grids
================================================================================
*/

#progress {  
  background: #8fbc8f;
  border-color: #000000;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #101010;
}

.grids {
  display: none;
}

.grids-practice {
  display: None;
}

.row-no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
[class*="col-"],
[class^="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.square:before{
  content: "-";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
  border: 2px solid rgb(0, 0, 0);   
  text-align: center;
}

#start__square:before {
  content: "Start";
  display: block;
  padding-top: 100%;
  position: relative;
}

#end__square:before {
  content: "End";
  display: block;
  padding-top: 100%;
  position: relative;
}

#obstacle__square {
  background-color: rgb(167, 63, 63);
}

.square:hover, .active {
  background: #fefefe;
  border: 5px solid rgba(216, 198, 39, 0.358);
}

.obstacle__square:hover {
  background-color: rgb(167, 63, 63);
  border: 5px solid rgb(216, 198, 39);
}

.square.processed {
  background: #fefefe;
  border: 5px solid rgb(216, 198, 39);
}

.square.active.wrong {
  background: #fefefe;
  border: 5px solid rgb(219, 24, 24);
}

#keyboard_pic {
  /* margin-left: auto; */
  width: 60%;
  padding-left: 180px;
}

#instructions_grid {
  /* margin-left: auto; */
  width: 90%;
  text-align: center;  
  padding: 5%;
}

.circle {
  height: 25px;
  width: 25px;
  background-color: rgb(121, 126, 196);
  border-radius: 50%;
  display: inline-block;
}
 /*
#keyboard_pic {
  margin-left: auto; 
  width: 30%;
  float: none;
  margin: 0 auto;
}
*/